<div class="row-fluid">
	<div class="span2 well">
		<input type="text" class="search-query input-small" ng-model="searchQuery" />
		<ul class="account-list">
			<li ng-repeat="account in accounts | filter:searchQuery"
				ui-event="{'mouseenter': 'removeVisible=true;', 'mouseleave': 'removeVisible=false;'}">
				<a ng-href="#/p?id={{account.id}}" ng-click="select(account)">{{account.title}}</a>
				<i class="icon-remove"
					ng-show="removeVisible"
					ng-click="remove(account);"></i>
			</li>
		</ul>
		<button class="btn pull-right"
			ng-click="makeNew()">
				Add
				<i class="icon-plus-sign" />
		</button>
	</div>
	<div class="span8">
		<div ui-if="selected">
			<tabs>
				<pane heading="Details">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label"
								for="inputTitle">Title</label>
							<div class="controls">
								<input type="text"
									class="input-block-level"
									placeholder="Title"
									id="inputTitle"
									ng-model="selected.title"
									ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"
								for="inputUserName">User Name</label>
							<div class="controls">
								<input type="text"
									class="input-block-level"
									placeholder="user name"
									id="inputUserName"
									ng-model="selected.username"
									ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>

						<div class="control-group">
							<label class="control-label"
								for="inputPassword">Password</label>
							<div class="controls">
								<div secret src="/api/accounts/{{selected.id}}/password"></div>
							</div>
						</div>


						<div class="control-group">
							<label class="control-label"
								for="inputDescription">Description</label>
							<div class="controls">
								<textarea 
									class="input-block-level"
									placeholder="Description"
									id="inputDescription"
									ng-model="selected.description"
									ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>
					</form>
				</pane>
				<pane heading="Permissions">
					<tabs>
						<pane heading="Read Access">
							<div class="row-fluid">
								<div class="span4">
									<h4>Have</h4>
									<ul>
										<li ng-repeat="permission in selected.permissions"
											is-hovered>
											{{permission.party.name}}
											<a ng-show="isHovered"
													ng-click="removePermission(permission);">Remove</a>
										</li>
									</ul>
								</div>
								<div class="span4">
									<h4>Dont</h4>
									<ul>
										<li ng-repeat="party in allParties | filter:passwordPermissionsHaveGroup:party"
											is-hovered>
											{{party.name}}
											<a ng-show="isHovered"
													ng-click="addPermission(party, false)">Grant</a>
										</li>
									</ul>
								</div>
							</div>
						</pane>
						<pane heading="write Access">
							<div class="span4">
								<h4>Have</h4>
								<ul>
									<li ng-repeat="permission in selected.permissions | filter:permission.canWrite"
										is-hovered>{{permission.party.name}}
										<a ng-show="isHovered"
											ng-click="permission.canWrite=false; savePermission(password);">Remove</a>
									</li>
								</ul>
							</div>
							<div class="span4">
								<h4>Dont</h4>
								<ul>
									<li ng-repeat="party in allParties | filter:passwordPermissionsHaveGroup:party"
										is-hovered>{{party.name}}
										<a ng-show="isHovered"
											ng-click="addPermission(party, true);">Grant</a>
									</li>
								</ul>
							</div>
						</pane>
					</tabs>
				</pane>
				<pane heading="History">
					<ul>
						<li>read by Joe 5 min ago</li>
						<li>read by Frances 5 min ago</li>
						<li>modified by Paul 27 May</li>
					</ul>
				</pane>
			</tabs>
		</div>
	</div>
</div>