<div class="row-fluid">
	<div class="span4">
		<ul>
			<li ng-repeat="group in groups"
				ui-event="{'mouseenter': 'removeVisible=true;', 'mouseleave': 'removeVisible=false;'}">
				<a ng-href="#/g?id={{group.id}}"
					ng-click="select(group)">{{group.name}}</a>
				<i class="icon-remove"
					ng-show="removeVisible"
					ng-click="remove(group);"></i>
			</li>
		</ul>
		<button ng-click="makeNew()">Create New Group</button>
	</div>
	<div class="span8">
		<div ui-if="selected">
			<tabs>
				<pane heading="Group">
					<input type="text"
						ng-model="selected.name"
						ui-event="{'blur': 'selected.$save();'}" />

					<h3>Users</h3>
					<div class="row-fluid">
						<ul class="span4">
							<li ng-repeat="user in selected.users"
								ui-event="{'mouseenter': 'removeVisible=true;', 'mouseleave': 'removeVisible=false;'}">
								<span>{{user.name}}<span>
								<i class="icon-remove"
									ng-show="removeVisible"
									ng-click="removeUser(user);"></i>
							</li>
						</ul>
						<ul class="span4">
							<li ng-repeat="user in allUsers | filter:isSelected:user">
								<a ng-click="selected.users.push(user);">{{user.name}}</a>
							</li>
						</ul>
					</div>

				</pane>
				<pane heading="Log">
					<ul>
						<li>read by Joe 5 min ago</li>
						<li>read by Frances 5 min ago</li>
						<li>updated by Paul 6 days ago</li>
					</ul>
				</pane>
			</tabs>
		</div>
	</div>
</div>