<div class="row-fluid">
	<div class="span4">
		<ul>
			<li ng-repeat="password in passwords"
				ui-event="{'mouseenter': 'removeVisible=true;', 'mouseleave': 'removeVisible=false;'}">
				<a href="" ng-click="select(password)">{{password.title}}</a>
				<i class="icon-remove"
					ng-show="removeVisible"
					ng-click="remove(password);"></i>
			</li>
		</ul>
		<button ng-click="makeNew()">Create New Password</button>
	</div>
	<div class="span8">
		<div ui-if="selected">
			<tabs>
				<pane heading="Password">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label"
								for="inputPassword">Password</label>
							<div class="controls">
							<input type="text"
								placeholder="password"
								id="inputPassword"
								ng-model="selected.password"
								ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"
								for="inputTitle">Title</label>
							<div class="controls">
							<input type="text"
								placeholder="Title"
								id="inputTitle"
								ng-model="selected.title"
								ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label"
								for="inputDescription">Description</label>
							<div class="controls">
							<textarea 
								placeholder="Description"
								id="inputDescription"
								ng-model="selected.description"
								ui-event="{'blur': 'selected.$save();'}" />
							</div>
						</div>
					</form>
				</pane>
				<pane heading="Log">
					<ul>
						<li>read by Joe 5 min ago</li>
						<li>read by Frances 5 min ago</li>
						<li>updated by Paul 6 days ago</li>
					</ul>
				</pane>
			</tabs>
		</div>
	</div>
</div>