<div class="row-fluid">
	<div class="span4">
		<ul>
			<li ng-repeat="user in users">
				<a href="" ng-click="select(user)">{{user.name}}</a>
			</li>
		</ul>
		<button ng-click="makeNew()">Create New User</button>
	</div>
	<div class="span8">
		<div ui-if="selected">
			<tabs>
				<pane heading="User">
					<input type="text"
						ng-model="selected.name"
						ui-event="{'blur': 'selected.$save();'}" />
				</pane>
				<pane heading="Log">
					<ul>
						<li>read by Joe 5 min ago</li>
						<li>read by Frances 5 min ago</li>
						<li>updated by Paul 6 days ago</li>
					</ul>
				</pane>
			</tabs>
		</div>
	</div>
</div>